.body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
*,
*:before,
*:after{
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}






















/* INTRO
 */
.intro{	
	height: 130vh;
	width: auto;
	display: flex;
	background: url(img/fon123.png) center no-repeat;
	background-size: cover;
}


/* CONTAINER
 */

.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
/* after_unner
 */
.after_unner{

	background-color: #1B1B1B;
	height: 85vh;
	width: auto;
	
}

.inner{
	display: flex;
}
.inner_text{
	margin-right: auto;
	text-align: inherit;
	font-size: 58px;
	color: #fff;
	max-width: 40%;

}
.inner_photo{
	padding-top: 2%;
	
}
.inner_photo1{
	height: 700px;
}
/* HEADER
 */

 /* BENEFITS
 */
 .benefits{
	 width: 100%;
	 height: 120vh;
 }
 .benefits_text1{
	 color: black;
	 font-size: 48px;
	 text-align: justify;
 }
 .benefits_text{
	 padding-top: 15%;
 }
.benefits_item{
	display: flex;
	margin: 4% 0;
	flex-wrap: wrap;

}
.benefits_items{
	width: 50%;
	display: inline-block;
	line-height: 200px;

	
}
.benefits_items_text{
	display: inline-block;
	font-size: 30px;
	vertical-align: middle;
	margin-bottom: 0;
	padding-top: 3%;
	
}
.benefits_logo{
	display: inline-block;
	vertical-align: middle;
	height: 90px;
	width: auto;
}


/*RECT
*/
.rect{
	height: 15vh;
	width: 100%;
	background-color: #1B1B1B;
}
/* block_photo
*/
.block_photo{
	background-image: url(img/intro3.jpg);
	width: 100%;
	height: 70vh;
}

/*RECT_text
*/

.rect_text1{
	text-align: center;
	background-color: rgba(27, 27, 27, 0.7);
	padding: 5% 5%;
	width: 80%;
	margin: 0 auto;
	position: relative;
	font-size: 45px;
	top: 25%;
	color: white;	
	border: 6px solid rgba(27, 27, 27, 0.7)2CC;
  border-radius: 25px;
}
	


/* SLIDER
===========================*/
 /* стили основного контейнера слайдера */
 .slider {
	position: relative;
	overflow: hidden;

  }
.slider__item{
	height: 100vh;
	
}
  .slider__item1{
	width: auto;
	background: #1B1B1B url(img/moba.jpg) center no-repeat ;
	background-size: cover;
	height: 100vh;
	
}
  .slider__item2{
	background: #1B1B1B url(img/ik.jpg) center no-repeat;
	  width: auto;
	  height: 100vh;
	  background-size: cover;
  }
  .slider__item3{
	background: #1B1B1B url(img/rpg.jpg) center no-repeat;
	width: auto;
	height: 100vh;
	background-size: cover;
}
.slider__item4{
	background: #1B1B1B url(img/mmo.jpg) center no-repeat;
	width: auto;
	height: 100vh;
	background-size: cover;
}
.slider__item5{
	background: #1B1B1B url(img/shooters.jpg) center no-repeat;
	width: auto;
	height: 100vh;
	background-size: cover;
}
.btn1{
	font-size: 50px;
	color: white;
	display: flex;
	margin: 0 auto;
	top: 25%;
	position: relative;
	border: 3px;
	border-color: rgba(27, 27, 27, 0.7);
	border-radius: 15px;
	padding: 0.3%;
	text-decoration: none;
	background-color: rgba(27, 27, 27, 0.7);
	transition: background 0.1s linear, color 0.1s linear;
	transition-duration: 1s;
	transition: 1s;
	max-width: 200px;
	text-align: center;
	}

	.btn1:hover{
		border-color: black;
		background: #FD6929;
		box-shadow: 10px 10px #1B1B1B;
		color: black;
		
		
	}

.slider__item_text1{
	border-radius: 15px;
	font-size: 28px;
	color: white;
	display: flex;
	max-width: 40%;
	margin: 0 auto;
	opacity: 0.9;
	top: 35%;
	position: relative;
	background-color: rgba(27, 27, 27, 0.7);
	padding: 0.5%;
	text-align: inherit;
}

.btn2{
	font-size: 35px;
	color: white;
	display: flex;
	margin: 0 auto;
	top: 24%;
	position: relative;
	border: 3px;
	border-color: rgba(27, 27, 27, 0.7);
	border-radius: 15px;
	padding: 0.3%;
	text-decoration: none;
	background-color: rgba(27, 27, 27, 0.7);
	transition: background 0.1s linear, color 0.1s linear;
	transition-duration: 1s;
	transition: 1s;
	max-width: 420px;
	text-align: center;
	}

	.btn2:hover{
		border-color: black;
		background: #FD6929;
		box-shadow: 10px 10px #1B1B1B;
		color: black;
		
		
	}

.slider__item_text2{
	border-radius: 15px;
	font-size: 25px;
	color: white;
	display: flex;
	max-width: 35%;
	margin: 0 auto;
	opacity: 0.9;
	top: 34%;
	position: relative;
	background-color: rgba(27, 27, 27, 0.7);
	padding: 0.5%;
	text-align: inherit;
}
.btn3{
	font-size: 45px;
	color: white;
	display: flex;
	margin: 0 auto;
	top: 25%;
	position: relative;
	border: 3px;
	border-color: rgba(27, 27, 27, 0.7);
	border-radius: 15px;
	padding: 0.3%;
	text-decoration: none;
	background-color: rgba(27, 27, 27, 0.7);
	transition: background 0.1s linear, color 0.1s linear;
	transition-duration: 1s;
	transition: 1s;
	max-width: 375px;
	text-align: center;
	}

	.btn3:hover{
		border-color: black;
		background: #FD6929;
		box-shadow: 10px 10px #1B1B1B;
		color: black;
		
		
	}

.slider__item_text3{
	border-radius: 15px;
	font-size: 26px;
	color: white;
	display: flex;
	max-width: 38%;
	margin: 0 auto;
	opacity: 0.9;
	top: 35%;
	position: relative;
	background-color: rgba(27, 27, 27, 0.7);
	padding: 0.5%;
	text-align: inherit;
}
.btn4{
	font-size: 45px;
	color: white;
	display: flex;
	margin: 0 auto;
	top: 25%;
	position: relative;
	border: 3px;
	border-color: rgba(27, 27, 27, 0.7);
	border-radius: 15px;
	padding: 0.3%;
	text-decoration: none;
	background-color: rgba(27, 27, 27, 0.7);
	transition: background 0.1s linear, color 0.1s linear;
	transition-duration: 1s;
	transition: 1s;
	max-width: 290px;
	text-align: center;
	}

	.btn4:hover{
		border-color: black;
		background: #FD6929;
		box-shadow: 10px 10px #1B1B1B;
		color: black;
		
		
	}

.slider__item_text4{
	border-radius: 15px;
	font-size: 26px;
	color: white;
	display: flex;
	max-width: 40%;
	margin: 0 auto;
	opacity: 0.9;
	top: 35%;
	position: relative;
	background-color: rgba(27, 27, 27, 0.7);
	padding: 0.5%;
	text-align: inherit;
}
.btn5{
	font-size: 45px;
	color: white;
	display: flex;
	margin: 0 auto;
	top: 25%;
	position: relative;
	border: 3px;
	border-color: rgba(27, 27, 27, 0.7);
	border-radius: 15px;
	padding: 0.3%;
	text-decoration: none;
	background-color: rgba(27, 27, 27, 0.7);
	transition: background 0.1s linear, color 0.1s linear;
	transition-duration: 1s;
	transition: 1s;
	max-width: 265px;
	text-align: center;
	}

	.btn5:hover{
		border-color: black;
		background: #FD6929;
		box-shadow: 10px 10px #1B1B1B;
		color: black;
		
		
	}

.slider__item_text5{
	border-radius: 15px;
	font-size: 28px;
	color: white;
	display: flex;
	max-width: 40%;
	margin: 0 auto;
	opacity: 0.9;
	top: 35%;
	position: relative;
	background-color: rgba(27, 27, 27, 0.7);
	padding: 0.5%;
	text-align: inherit;
}
  /* стили для обёртки, в которой заключены слайды */
  .slider__wrapper {
	position: relative;
	overflow: hidden;
  }

  /* стили для контейнера слайдов */
  .slider__items {
	display: flex;
	transition: transform 0.6s ease;
  }

  /* стили для слайдов */
  .slider__item {
	flex: 0 0 100%;
	max-width: 100%;
	height: auto;
  }

  /* стили для кнопок "вперед" и "назад" */
  .slider__control {
	position: absolute;
	top: 50%;
	display: none;
	align-items: center;
	justify-content: center;
	width: 5%;
	color: #fff;
	text-align: center;
	opacity: 0.9;
	
	
  }

  .slider__control_show {
	display: flex;
  }

  .slider__control:hover,
  .slider__control:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: 1;
  }

  .slider__control_prev {
	left: 7%;
  }

  .slider__control_next {
	right: 7%;
  }

  .slider__control::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
  }

  .slider__control_prev::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .slider__control_next::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  /* стили для индикаторов */
  .slider__indicators {
	position: absolute;
	right: 0;
	bottom: 10px;
	left: 0;
	z-index: 15;
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin-right: 15%;
	margin-left: 15%;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
  }

  .slider__indicators li {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 30px;
	height: 4px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5);
	background-clip: padding-box;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
  }

  .slider__indicators li.active {
	background-color: #fff;
  }

  /* для стилизации текущего слайдера */
  .img-fluid {
	display: inline-block;
	height: auto;
	max-width: 100%;
  }
  
  @media screen and (max-width: 2250px) {
	.btn3{
		max-width: 380px;
	}

  }
  @media screen and (max-width: 1450px) {
	.link__1, .link__2 {margin-left: 10%; margin-right: 10%;}
	.container{
		max-width: 1350px;
	}
	.inner_text{
max-width: 38%;
		font-size: 60px;
	}
	.inner_photo{
		margin-left: auto;
		padding-top: 8%;
		
	}
	.inner_photo1{
		height: 700px;
	}
	.benefits_text1{
		color: black;
		font-size: 45px;
		text-align: justify;
	}
	.benefits_text{
		padding-top: 15%;
	}
   .benefits_item{
	   display: flex;
	   margin: 6% 0;
	   flex-wrap: wrap;

   
   }
   .benefits_items{
	   width: 50%;
	   display: inline-block;
	   line-height: 200px;
	   
   }
   .benefits_items_text{
	   display: inline-block;
	   font-size: 35px;
	   margin-bottom: 0;

	   
	   
   }
   .benefits_logo{
	   display: inline-block;
	   vertical-align: middle;
   
   }
  .btn3{
	  max-width: 380px;
  }
	
}
  @media screen and (max-width: 1200px) {
	  .container{
		  width: 1000px;
	  }

	.inner_text{
		font-size: 49px;
		max-width: 35%;
	}
	.inner_photo{
		
		padding-top: 10%;
		
	}
	.inner_photo1{
		height: 630px;
	}
	.benefits_text1{
		padding-top: 6%;
		color: black;
		font-size: 35px;
		text-align: justify;
	}
	.benefits_text{
		padding-top: 15%;
	}
   .benefits_item{
	   display: flex;
	   margin: 5% 0;
	   flex-wrap: wrap;
   
   }
   .benefits_items{
	   width: 50%;
	   display: inline-block;
	   line-height: 200px;
   
	   
   }
   .benefits_items_text{
	   display: inline-block;
	   font-size: 29px;
	   vertical-align: middle;
   
	   
	   
   }
   .benefits_logo{
	   height: 90px;
	   width: auto;
	   display: inline-block;
	   vertical-align: middle;
   
   }
   .rect_text1{
	   font-size: 41px;
   }
  }
  @media screen and (max-width: 1100px) {
	.container{
		width: 900px;
	}

  .inner_text{
	  font-size: 49px;
	  max-width: 38% ;
  }

  .inner_photo{
	  padding-top: 12%;
	  
  }
  .inner_photo1{
	  height: 630px;
  }
  .benefits_text1{
	  padding-top: 6%;
	  color: black;
	  font-size: 33px;
	  text-align: justify;
  }
  .benefits_text{
	  padding-top: 15%;
  }
 .benefits_item{
	 display: flex;
	 margin: 5% 0;
	 flex-wrap: wrap;
 
 }
 .benefits_items{
	 width: 50%;
	 display: inline-block;
	 line-height: 200px;
 
	 
 }
 .benefits_items_text{
	 display: inline-block;
	 font-size: 25px;
	 vertical-align: middle;
	 padding-top: 6 %;
	
	 
	 
 }
 .benefits_logo{
	 height: 85px;
	 width: auto;
	 display: inline-block;
	 vertical-align: middle;
 
 }
 .rect_text1{
	 font-size: 38px;
 }
}
@media screen and (max-width: 1000px) {
	.container{
		width: 800px;
	}

  .inner_text{
	  padding-top: 2%;
	  font-size: 45px;
  }
  .inner_photo{
	  padding-top: 13%;
  }
  .inner_photo1{
	  height: 630px;
  }
  .benefits_text1{
	  padding-top: 6%;
	  color: black;
	  font-size: 33px;
	  text-align: justify;
  }
  .benefits_text{
	  padding-top: 15%;
  }
 .benefits_item{
	 display: flex;
	 margin: 5% 0;
	 flex-wrap: wrap;
 
 }
 .benefits_items{
	 width: 50%;
	 display: inline-block;
	 line-height: 200px;
 
	 
 }
 .benefits_items_text{
	 display: inline-block;
	 font-size: 20px;
	 vertical-align: middle;
	 margin-top: 15%;
 
	 
	 
 }
 .benefits_logo{
	 height: 50px;
	 width: auto;
	 display: inline-block;
	 vertical-align: middle;
 
 }
 .rect_text1{
	 font-size: 31px;
 }
}

@media screen and (max-width: 850px) {
	.container{
		width: 700px;
	}
	.after_unner{
		height: 80vh;
	}
  .inner_text{
	  padding-top: 10%;
	  font-size: 39px;
	  
  }
  .inner_photo{
	  padding-top: 13%;
  }
  .inner_photo1{
	  height: 525px;
	  width: auto;
  }
  .benefits_text1{
	  padding-top: 6%;
	  color: black;
	  font-size: 32px;
	  text-align: justify;
  }
  .benefits_text{
	  padding-top: 15%;
  }
 .benefits_item{
	 margin: 8% 0;
	display: inline-block;
 
 }
 .benefits_items{
	 line-height: 50px;
	display: inline-block;
	width: 100%;
	 
 }
 .benefits_items_text{
	 margin-top: 0;
	 margin-bottom: 9%;
	 font-size: 28px;
	 float: left;
	vertical-align: middle;
	padding-top: 5%;
	padding-left: 1%;
 	 
 	}
 .benefits_logo{
	 vertical-align: middle;
	height: 90px;
	float: left;
 
 }
 .rect_text1{
	 font-size: 31px;
 }
 .slider__item_text1{
	 font-size: 25px;
	 max-width: 60%;
 }
 .slider__item_text2{
	 font-size: 25px;
	 max-width: 60%;
 }
 .slider__item_text3{
	font-size: 25px;
	max-width: 60%;
}
.slider__item_text4{
	font-size: 25px;
	max-width: 60%;
}
.slider__item_text5{
	font-size: 25px;
	max-width: 60%;
}
}
@media screen and (max-width: 700px) {
	.container{
		width: 550px;
	}

	.after_unner{
		height: 60vh;
	}
  .inner_text{
	  padding-top: 10%;
	  font-size: 32px;
	  
  }
  .inner_photo{
	  padding-top: 13%;
  }
  .inner_photo1{
	  height: 450px;
	  width: auto;
  }
  .benefits_text1{
	  padding-top: 6%;
	  color: black;
	  font-size: 27px;
	  text-align: justify;
	  margin-bottom: 5%;
  }
  .benefits_text{
	  padding-top: 15%;
  }
 .benefits_item{
	 margin: 8% 0;
	display: inline-block;
 
 }
 .benefits_items{
	 line-height: 50px;
	display: inline-block;
	width: 100%;
	 
 }
 .benefits_items_text{
	 margin-top: 0;
	 margin-bottom: 9%;
	 font-size: 23px;
	 float: left;
	vertical-align: middle;
	padding-top: 5%;
	padding-left: 1%;
 	 
 	}
 .benefits_logo{
	vertical-align: middle;
	height: 50px;
	width: auto;
	float: left;
 
 }
 .rect_text1{
	 font-size: 31px;
 }
 .slider__item_text1{
	 font-size: 25px;
	 max-width: 60%;
 }
 .slider__item_text2{
	 font-size: 25px;
	 max-width: 60%;
 }
 .slider__item_text3{
	font-size: 25px;
	max-width: 60%;
}
.slider__item_text4{
	font-size: 25px;
	max-width: 60%;
}
.slider__item_text5{
	font-size: 25px;
	max-width: 60%;
}
}

@media screen and (max-width: 550px) {
	.container{
		width: 350px;
	}

	.after_unner{
		height: 45vh;
	}
  .inner_text{
	  padding-top: 10%;
	  font-size: 25px;
	  
  }
  .inner_photo{
	  padding-top: 13%;
  }
  .inner_photo1{
	  height: 350px;
	  width: auto;
  }
  .benefits{
	  height: 80vh;
  }
  .benefits_text1{
	  padding-top: 6%;
	  color: black;
	  font-size: 23px;
	  text-align: justify;
	  margin-bottom: 5%;
  }
  .benefits_text{
	  padding-top: 15%;
  }
 .benefits_item{
	 margin: 8% 0;
	display: inline-block;
 
 }
 .benefits_items{
	 line-height: 50px;
	display: inline-block;
	width: 100%;
	 
 }
 .benefits_items_text{
	
	 margin-top: 0;
	 margin-bottom: 9%;
	 font-size: 19px;
	 float: left;

	padding-top: 0;
	padding-left: 1%;
 	 
 	}
 .benefits_logo{
	
	
	float: left;
 
 }
 .benefits_logo_img{
	 height: 50px;
	 width: auto;
 }
 .rect_text1{
	 font-size: 27px;
 }
 .slider__item_text1{
	 font-size: 20px;
	 max-width: 60%;
 }
 .slider__item_text2{
	 font-size: 20px;
	 max-width: 60%;
 }
 .slider__item_text3{
	font-size: 20px;
	max-width: 60%;
}
.slider__item_text4{
	font-size: 20px;
	max-width: 60%;
}
.slider__item_text5{
	font-size: 20px;
	max-width: 60%;
}
}
@media screen and (max-width: 450px) {
	.container{
		width: 250px;
	}
	.intro{
		height: 80vh;
		width: auto;
	}

	.after_unner{
		height: 30vh;
	}
  .inner_text{
	  padding-top: 10%;
	  font-size: 15px;
	  
  }
  .inner_photo{
	  padding-top: 20%;
  }
  .inner_photo1{
	  height: 200px;
	  width: auto;
  }
  .benefits{
	  height: 70vh;
  }
  .benefits_text1{
	  padding-top: 6%;
	  color: black;
	  font-size: 18px;
	  text-align: justify;
	  margin-bottom: 5%;
  }
  .benefits_text{
	  padding-top: 15%;
  }
 .benefits_item{
	 margin: 8% 0;
	display: inline-block;
 
 }
 .benefits_items{
	 line-height: 50px;
	display: inline-block;
	width: 100%;
	 
 }
 .benefits_items_text{
	
	 margin-top: 0;
	 margin-bottom: 9%;
	 font-size: 15px;
	 float: left;

	padding-top: 0;
	padding-left: 1%;
 	 
 	}
 .benefits_logo{
	
	
	float: left;
 
 }
 .benefits_logo_img{
	 height: 40px;
	 width: auto;
 }
 .rect_text1{
	 font-size: 23px;
 }
 .btn1{
	 font-size: 40px;
	 max-width: 157px;
 }
 .btn2{
	font-size: 25px;
	max-width: 300px;
}
.btn3{
	font-size: 35px;
	max-width: 290px;
}
.btn4{
	font-size: 35px;
	max-width: 225px;
}
.btn5{
	font-size: 35px;
	max-width: 205px;
}
 .slider__item_text1{
	 font-size: 18px;
	 max-width: 85%;
 }
 .slider__item_text2{
	top: 38%;
	 font-size: 18px;
	 max-width: 85%;
 }
 .slider__item_text3{
	top: 38%;
	font-size: 18px;
	max-width: 85%;
}
.slider__item_text4{
	top: 38%;
	font-size: 18px;
	max-width: 85%;
}
.slider__item_text5{
	top: 38%;
	font-size: 18px;
	max-width: 85%;
}
}
@media screen and (max-width: 424px) {
	.container{
		width: 300px;
	}
	.intro{
		height: 70vh;
		width: auto;
	}

	.after_unner{
		height: 170px;
	}
  .inner_text{
	  padding-top: 2%;
	  font-size: 13px;
	  
  }
  .inner_photo{
	  padding-top: 5%;
  }
  .inner_photo1{
	  height: 170px;
	  width: auto;
  }
  .benefits{
	  height: 400px;
  }
  .benefits_text1{
	  padding-top: 4%;
	  color: black;
	  font-size: 14px;
	  text-align: justify;
	  margin-bottom: 5%;
  }
  .benefits_text{
	  padding-top: 10%;
  }
 .benefits_item{
	 margin: 8% 0;
	display: inline-block;
 
 }
 .benefits_items{
	 line-height: 33px;
	display: inline-block;
	width: 100%;
	 
 }
 .benefits_items_text{
	 font-size: 13px;
	 float: left;

	padding-left: 1%;
 	 
 	}
 .benefits_logo{
	
	
	float: left;
 
 }
 .benefits_logo_img{
	 height: 30px;
	 width: auto;
 }
 .rect_text1{
	 font-size: 18px;
	top: 35%;
	 border: 6px solid rgba(27, 27, 27, 0.9)2CC;
 }
 .btn1{
	 font-size: 30px;
	 max-width: 120px;
 }
 .btn2{
	font-size: 17px;
	max-width: 210px;
}
.btn3{
	font-size: 23px;
	max-width: 205px;
}
.btn4{
	font-size: 23px;
	max-width: 155px;
}
.btn5{
	font-size: 23px;
	max-width: 145px;
}
 .slider__item_text1{
	top: 38%;
	 font-size: 18px;
	 max-width: 85%;
 }
 .slider__item_text2{
	top: 38%;
	 font-size: 17px;
	 max-width: 85%;
 }
 .slider__item_text3{
	top: 38%;
	font-size: 17px;
	max-width: 85%;
}
.slider__item_text4{
	top: 38%;
	font-size: 17px;
	max-width: 85%;
}
.slider__item_text5{
	top: 38%;
	font-size: 17px;
	max-width: 85%;
}
}
